<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Water Station Graphics Interface</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div>
            <h1 style="align-items: center;  display: flex; justify-content: center;">Water Station Control</h1>
        </div>
        <!-- Row  -->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <h3 th:text="${SuctionTank1Name}"></h3>
                    <br>
                    Name : <p th:text="${SuctionTank1Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${SuctionTank1Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${SuctionTank1Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${SuctionTank1Outlet}" style="display:inline;"></p>
                </div>

                <div class="col-md-2">
                    <h3 th:text="${ServiceTank1Name}"></h3>
                    <br>
                    Name : <p th:text="${ServiceTank1Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${ServiceTank1Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${ServiceTank1Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${ServiceTank1Outlet}" style="display:inline;"></p>
                </div>

      

                <div class="col-md-2">
                    <h3 th:text="${Station1Pump1Name}"></h3>
                    <br>
                    Name : <p th:text="${Station1Pump1Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${Station1Pump1Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${Station1Pump1Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${Station1Pump1Outlet}" style="display:inline;"></p>
                </div>


                <div class="col-md-2">
                    <h3 th:text="${Station1Pump2Name}"></h3>
                    <br>
                    Name : <p th:text="${Station1Pump2Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${Station1Pump2Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${Station1Pump2Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${Station1Pump2Outlet}" style="display:inline;"></p>
                </div>


                <div class="col-md-2">
                    <h3 th:text="${Station1Pump3Name}"></h3>
                    <br>
                    Name : <p th:text="${Station1Pump3Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${Station1Pump3Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${Station1Pump3Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${Station1Pump3Outlet}" style="display:inline;"></p>
                </div>

                <div class="col-md-2">
                    <h3 th:text="${Station1Pump4Name}"></h3>
                    <br>
                    Name : <p th:text="${Station1Pump4Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${Station1Pump4Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${Station1Pump4Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${Station1Pump4Outlet}" style="display:inline;"></p>
                </div>

              

            </div>
           
        </div>

        <hr>

        <!-- Station 2-->

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <h3 th:text="${SuctionTank2Name}"></h3>
                    <br>
                    Name : <p th:text="${SuctionTank2Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${SuctionTank2Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${SuctionTank2Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${SuctionTank2Outlet}" style="display:inline;"></p>
                </div>

                <div class="col-md-2">
                    <h3 th:text="${ServiceTank2Name}"></h3>
                    <br>
                    Name : <p th:text="${ServiceTank2Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${ServiceTank2Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${ServiceTank2Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${ServiceTank2Outlet}" style="display:inline;"></p>
                </div>

      

                <div class="col-md-2">
                    <h3 th:text="${Station2Pump1Name}"></h3>
                    <br>
                    Name : <p th:text="${Station2Pump1Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${Station2Pump1Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${Station2Pump1Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${Station2Pump1Outlet}" style="display:inline;"></p>
                </div>


                <div class="col-md-2">
                    <h3 th:text="${Station2Pump2Name}"></h3>
                    <br>
                    Name : <p th:text="${Station2Pump2Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${Station2Pump2Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${Station2Pump2Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${Station2Pump2Outlet}" style="display:inline;"></p>
                </div>


                <div class="col-md-2">
                    <h3 th:text="${Station2Pump3Name}"></h3>
                    <br>
                    Name : <p th:text="${Station2Pump3Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${Station2Pump3Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${Station2Pump3Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${Station2Pump3Outlet}" style="display:inline;"></p>
                </div>

                <div class="col-md-2">
                    <h3 th:text="${Station2Pump4Name}"></h3>
                    <br>
                    Name : <p th:text="${Station2Pump4Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${Station2Pump4Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${Station2Pump4Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${Station2Pump4Outlet}" style="display:inline;"></p>
                </div>

              

            </div>
           
        </div>     

        <!-- Station 3-->
        <hr>


        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">
                    <h3 th:text="${SuctionTank1Name}"></h3>
                    <br>
                    Name : <p th:text="${SuctionTank1Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${SuctionTank1Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${SuctionTank1Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${SuctionTank1Outlet}" style="display:inline;"></p>
                </div>

                <div class="col-md-2">
                    <h3 th:text="${ServiceTank1Name}"></h3>
                    <br>
                    Name : <p th:text="${ServiceTank1Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${ServiceTank1Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${ServiceTank1Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${ServiceTank1Outlet}" style="display:inline;"></p>
                </div>

      

                <div class="col-md-2">
                    <h3 th:text="${Station1Pump1Name}"></h3>
                    <br>
                    Name : <p th:text="${Station1Pump1Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${Station1Pump1Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${Station1Pump1Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${Station1Pump1Outlet}" style="display:inline;"></p>
                </div>


                <div class="col-md-2">
                    <h3 th:text="${Station1Pump2Name}"></h3>
                    <br>
                    Name : <p th:text="${Station1Pump2Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${Station1Pump2Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${Station1Pump2Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${SuctionTank1Outlet}" style="display:inline;"></p>
                </div>


                <div class="col-md-2">
                    <h3 th:text="${Station1Pump3Name}"></h3>
                    <br>
                    Name : <p th:text="${Station1Pump3Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${Station1Pump3Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${Station1Pump3Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${Station1Pump3Outlet}" style="display:inline;"></p>
                </div>

                <div class="col-md-2">
                    <h3 th:text="${Station1Pump4Name}"></h3>
                    <br>
                    Name : <p th:text="${Station1Pump4Device}" style="display:inline;"></p>
                    <br>
                    Status : <p th:text="${Station1Pump4Status}" style="display:inline;"></p>
                    <br>
                    Inlet Pressure : <p th:text="${Station1Pump4Inlet}" style="display:inline;"></p>
                    <br>
                    Outlet Pressure : <p th:text="${Station1Pump4Outlet}" style="display:inline;"></p>
                </div>

              

            </div>
           
        </div>

  
        


    </body>
</html>